[submodule "afl/input"]
	path = afl/input
	url = https://github.com/g2p/wodan-fuzz-corpus.git
[submodule "vendor/ocaml-git"]
	path = vendor/ocaml-git
	url = https://github.com/mirage/ocaml-git.git
[submodule "vendor/digestif"]
	path = vendor/digestif
	url = https://github.com/mirage/digestif.git
[submodule "vendor/irmin"]
	path = vendor/irmin
	url = https://github.com/g2p/irmin.git
	branch = debugging
[submodule "vendor/decompress"]
	path = vendor/decompress
	url = https://github.com/mirage/decompress.git
[submodule "vendor/ocaml-ci-scripts"]
	path = vendor/ocaml-ci-scripts
	url = https://github.com/ocaml/ocaml-ci-scripts.git
[submodule "vendor/ocaml-yaml"]
	path = vendor/ocaml-yaml
	url = https://github.com/g2p/ocaml-yaml.git
